.color-app-tile-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.color-app-tile-nav  li{
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    cursor: pointer;
}
#selected-tile-nav{
    font-weight: bolder;
    border-bottom:2px solid black;   
}